.animated{
	animation-duration: 2s;
	animation-timing-function: ease ;
}
@keyframes zoomIn {
	from {
	  opacity: 0;
	  -webkit-transform: scale3d(0.3, 0.3, 0.3);
	  transform: scale3d(0.3, 0.3, 0.3);
	}
  
	50% {
	  opacity: 1;
	}
  }
  
  .zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
  }
  @keyframes zoomInDown {
	from {
	  opacity: 0;
	  -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
	  transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
	  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
  
	60% {
	  opacity: 1;
	  -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	  transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
  }
  
  .zoomInDown {
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown;
  }
.pt-page-rotatePullRight {
	transform-origin: 100% 50%;
	animation: rotatePullRight 1.5s both ease ;
}
.pt-page-rotatePullLeft {
	transform-origin: 0% 50%;
	animation: rotatePullLeft 1.5s both ease;
}
.pt-page-rotatePullTop {
	transform-origin: 50% 0%;
	animation: rotatePullTop 1.5s both ease;
}
.pt-page-rotatePullBottom {
	transform-origin: 50% 100%;
	animation: rotatePullBottom 1.5s both ease;
}
@keyframes rotatePullRight {
	from { opacity: 0; transform: rotateY(-90deg); }
}
@keyframes rotatePullLeft {
	from { opacity: 0; transform: rotateY(90deg); }
}

@keyframes rotatePullTop {
	from { opacity: 0; transform: rotateX(-90deg); }
}

@keyframes rotatePullBottom {
	from { opacity: 0; transform: rotateX(90deg); }
}
.pt-page-rotateCarouselBottomIn {
	transform-origin: 50% 100%;
	animation: rotateCarouselBottomIn 2s both ease;
}
.pt-page-rotateCarouselTopIn {
	transform-origin: 50% 0%;
	animation: rotateCarouselTopIn 2s both ease;
}
.pt-page-rotateCarouselRightIn {
	transform-origin: 100% 50%;
	animation: rotateCarouselRightIn 2s both ease;
}
.pt-page-rotateCarouselLeftIn {
	transform-origin: 0% 50%;
	animation: rotateCarouselLeftIn 2s both ease;
}

@keyframes rotateCarouselBottomIn {
	from { opacity: .3; transform: translateY(-200%) scale(.4) rotateX(65deg); }
}
@keyframes rotateCarouselTopIn {
	from { opacity: .3; transform: translateY(200%) scale(.4) rotateX(-65deg); }
}
@keyframes rotateCarouselRightIn {
	from { opacity: .3; transform: translateX(-200%) scale(.4) rotateY(-65deg); }
}
@keyframes rotateCarouselLeftIn {
	from { opacity: .3; transform: translateX(200%) scale(.4) rotateY(65deg); }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

@keyframes swing {
	20% {
	  -webkit-transform: rotate3d(0, 0, 1, 15deg);
	  transform: rotate3d(0, 0, 1, 15deg);
	}
  
	40% {
	  -webkit-transform: rotate3d(0, 0, 1, -10deg);
	  transform: rotate3d(0, 0, 1, -10deg);
	}
  
	60% {
	  -webkit-transform: rotate3d(0, 0, 1, 5deg);
	  transform: rotate3d(0, 0, 1, 5deg);
	}
  
	80% {
	  -webkit-transform: rotate3d(0, 0, 1, -5deg);
	  transform: rotate3d(0, 0, 1, -5deg);
	}
  
	to {
	  -webkit-transform: rotate3d(0, 0, 1, 0deg);
	  transform: rotate3d(0, 0, 1, 0deg);
	}
  }
  
  .swing {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
  }
  @keyframes heartBeat {
	0% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  
	14% {
	  -webkit-transform: scale(1.3);
	  transform: scale(1.3);
	}
  
	28% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  
	42% {
	  -webkit-transform: scale(1.3);
	  transform: scale(1.3);
	}
  
	70% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  }
  
  .heartBeat {
	-webkit-animation-name: heartBeat;
	animation-name: heartBeat;
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
  }
  @keyframes flipInX {
	from {
	  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	  transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	  -webkit-animation-timing-function: ease-in;
	  animation-timing-function: ease-in;
	  opacity: 0;
	}
  
	40% {
	  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	  transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	  -webkit-animation-timing-function: ease-in;
	  animation-timing-function: ease-in;
	}
  
	60% {
	  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	  transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	  opacity: 1;
	}
  
	80% {
	  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	  transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
  
	to {
	  -webkit-transform: perspective(400px);
	  transform: perspective(400px);
	}
  }
  
  .flipInX {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
  }

  @keyframes flipInY {
	from {
	  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	  transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	  -webkit-animation-timing-function: ease-in;
	  animation-timing-function: ease-in;
	  opacity: 0;
	}
  
	40% {
	  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	  transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	  -webkit-animation-timing-function: ease-in;
	  animation-timing-function: ease-in;
	}
  
	60% {
	  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	  transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	  opacity: 1;
	}
  
	80% {
	  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	  transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
  
	to {
	  -webkit-transform: perspective(400px);
	  transform: perspective(400px);
	}
  }
  
  .flipInY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	animation-name: flipInY;
  }

  @keyframes jackInTheBox {
	from {
	  opacity: 0;
	  -webkit-transform: scale(0.1) rotate(30deg);
	  transform: scale(0.1) rotate(30deg);
	  -webkit-transform-origin: center bottom;
	  transform-origin: center bottom;
	}
  
	50% {
	  -webkit-transform: rotate(-10deg);
	  transform: rotate(-10deg);
	}
  
	70% {
	  -webkit-transform: rotate(3deg);
	  transform: rotate(3deg);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  }
  
  .jackInTheBox {
	-webkit-animation-name: jackInTheBox;
	animation-name: jackInTheBox;
  }
  @keyframes rollIn {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	  transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
  }

  @keyframes leftswing {
	0% {
		transform-origin: top left;
	}
	20%,60% {
		transform: rotate3d(0, 0, 1, 10deg);
		transform-origin: top left;
	  }
	40%,80% {
		transform: rotate3d(0, 0, 1, -10deg);
		transform-origin: top left;
  	}
	to {
		transform: rotate3d(0, 0, 1, 0deg);
		transform-origin: top left;
	}
  }
  .leftswing{
	animation-name: leftswing;
  }